.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .message-container {
    margin: 0.5rem;
    height: 1rem;

    .not-found-message {
      color: red;
      margin: 0;
      padding: 0;
    }
  }
}
