.title {
  font-weight: bold;
  font-size: 20px;
  color: #69bdd2;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 9rem;

  .coordinates-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4rem;
    border: 1px solid #69bdd2;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.7rem;

    .coordinates-title {
      font-weight: bold;
      margin: 0.2rem;
    }

    .coordinate-container {
      display: flex;
      justify-content: center;
    }
  }
}
