.meteor-card {
  margin: 10px;
  height: 13rem;
  width: 9rem;
  padding: 10px;

  .title {
    font-weight: bold;
    font-size: 20px;
    color: #69bdd2
  }

  .meteor-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border: 1px solid #69bdd2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;

    .coordinates-container {
      display: flex;
      flex-direction: column;
      border: 1px solid #69bdd2;
      border-radius: 1rem;
      padding: 0.5rem;
      width: 70%;
      height: 6rem;
      justify-content: space-around;

      .coordinates-title {
        font-weight: bold;
        margin: 0;
      }

      .coordinate-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}
