.meteor-card {
	// display: flex;
	// flex-direction: column;

	// margin: 1rem;
  // width: 9rem;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // justify-content: space-around;
  margin: 10px;
  height: 9rem;
  width: 9rem;
  padding: 10px;

  .meteor-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .detail-container {
      display: flex;
      justify-content: center;
      align-items: space-between;
  
      label {
        padding-right: 0.5rem;
      }
  
      .name {
        font-weight: bold;
      }
    }
  }
}
