.filters {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 8rem;
	margin-top: 8rem;

	p {
		width: 10rem;
	}

	.year-input-container, .mass-input-container {
		display: flex;
		width: 13rem;
		justify-content: space-between;
		align-items: center;
	}
}
